<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xidian.aemaip.dao.ProjectcompanyMapper" >
  <resultMap id="projectcompanyResultMap" type="projectcompany" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="projectid" property="projectid" jdbcType="INTEGER" />
    <result column="companyid" property="companyid" jdbcType="INTEGER" />
  </resultMap>
<insert id="insert" parameterType="projectcompany">
  insert into projectcompany
  (projectid,companyid)
  values
  (#{projectid},#{companyid});
  </insert>
 <select id="select" parameterType="page"
		resultMap="projectcompanyResultMap">
		select * from projectcompany
		<where>
			<if test="paramEntity.id!=null">and id = #{paramEntity.id}</if>
			<if test="paramEntity.projectid!=null">and projectid = #{paramEntity.projectid}</if>
			<if test="paramEntity.companyid!=null">and companyid = #{paramEntity.companyid}</if>
       </where>
       limit #{start},#{rows};
 </select>
  <select id="selectCount" parameterType="page"
		resultType="Integer">
		select count(1) from projectcompany
		<where>
			<if test="paramEntity.id!=null">and id = #{paramEntity.id}</if>
			<if test="paramEntity.projectid!=null">and projectid = #{paramEntity.projectid}</if>
			<if test="paramEntity.companyid!=null">and companyid = #{paramEntity.companyid}</if>
       </where>
 </select>
</mapper>